<form action="/names" method="POST">
  Player 1: <br>
  <input type="text" name="player1" value="Player 1 name here"><br>
  Player 2: <br>
  <input type="text" name="player2" value="Player 2 name here"><br>
  <input type="submit" value="Add players">
</form>
