<img class="logo" src="img/logo.png" alt="logo">
<div id="players-form">
<form  action="/names" method="POST">
  <div class="form-group">
  <label for="player1">Player 1</label>
  <input type="text" class="form-control" name="player1" placeholder="Name">
  <label for="player2">Player 2</label>
  <input type="text" class="form-control" name="player2" placeholder="Name"><br>
  <button type="submit" class="btn btn-success">BATTLE!</button>
  </div>
</form>
</div>
